@model SysGames.Models.Venda

@{
	ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
	<h4>Venda</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayFor(model => model.Pagamento.Carrinho.Cliente.CPF)


		</dt>

		<dd>
			@Html.DisplayFor(model => model.Pagamento.Carrinho.Cliente.Nome)
		</dd>

		<dt>
			@Html.DisplayFor(model => model.Pagamento.Carrinho.Produto.Nome)

		</dt>

		<dd>
			R$@Html.DisplayFor(model => model.Pagamento.Carrinho.Produto.Valor)
		</dd>

		<dt>
			CEP da entrega
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Pagamento.Carrinho.Cliente.CEP)
		</dd>


		<dt>
			Numero da entrega
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Pagamento.Carrinho.Cliente.Numero)
		</dd>

		<dt>
			Previsão de entrega
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Previsao)
		</dd>

		<dt>
			Data do pedido
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DataHora)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Editar", "Edit", new { id = Model.VendaID }) |
	@Html.ActionLink("Voltar para lista de vendas", "Index")
</p>