@model SysGames.Models.Cliente

@{
	ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
	<h4>Cliente</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.CPF)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CPF)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Nome)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Nome)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DataNascimento)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DataNascimento)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Telefone)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Telefone)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Logradouro)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Logradouro)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Bairro)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Bairro)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Localidade)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Localidade)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UF)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UF)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CEP)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CEP)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Complemento)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Complemento)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Numero)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Numero)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Editar", "Edit", new { id = Model.ClienteID }) |
	@Html.ActionLink("Voltar para lista de clientes", "Index")
</p>
